@using Microsoft.AspNet.Identity
@using TimeManage.Models
@{
    string displayName = "";
    if (Request.IsAuthenticated)
    {
        var userId = User.Identity.GetUserId();
        using (var db = new ApplicationDbContext())
        {
            var user = db.Users.FirstOrDefault(u => u.Id == userId);
            displayName = user?.DisplayName ?? User.Identity.GetUserName();
        }
    }
}



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
            <!-- User Greeting -->
            <li class="nav-item">
                @Html.ActionLink("Hi " + displayName + "!", "Index", "Manage", null, new { @class = "nav-link text-white fw-bold" })
            </li>

            <!-- Pomodoro Timer -->
            <li class="nav-item">
                <div id="pomodoro-timer" onclick="togglePomodoro()" title="Click to toggle the timer!"
                     class="btn"
                     style="cursor:pointer; user-select:none;">
                    Pomodoro Time remaining:
                </div>
            </li>

            <!-- Log Off -->
            <li class="nav-item">
                <a class="nav-link text-danger fw-bold" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}


else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
